.carouselcard,
.carouselcarddark {
  height: 416px;
  margin-bottom: 64px;
  border-radius: 8px;
  padding: 24px 60px 12px 24px;
  display: flex;
  flex: none;
  position: relative;
  justify-content: space-between;
  max-width: 1280px;
}

.carouselcard {
  background-color: var(--gray);
}

.carouselcarddark {
  background-color: var(--blue);
}

.textside,
.textsidedark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding-right: 60px;
}

.textsidedark {
  color: var(--white);
}

.textside h2,
.textsidedark h2 {
  margin: 10px 0 0 0;
}

.textside p,
.textsidedark p {
  margin: 10px 0;
  font-weight: 300;
}

.carouselcont {
  display: block;
  max-width: 700px;
  width: 65%;
  position: relative;
}

.carouselitem {
  width: 180px;
  height: 400px;
  background-color: var(--white);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 15px;
}

.carouselitem img {
  width: 80%;
  aspect-ratio: 1/1;
  padding-bottom: 64px;
}

.carouseltext {
  width: 100%;
}

.itemname {
  font-size: 12px;
  font-weight: 300;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  margin: 5px 0;
}

.itemname:hover {
  text-decoration: underline;
}

.carouselrating {
  display: grid;
  grid-template-columns: repeat(5, 20px);
}

.banner {
  max-width: 100%;
}

.textside h2 {
  font-size: 32px;
}

.star {
  color: var(--ratinggray);
}

.starfill {
  color: var(--ratingyellow);
}

.itemreview {
  color: var(--darkgray);
  font-weight: 300;
  font-size: 12px;
  margin: 5px 0;
}

.itemsale {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--salesred);
}

.itempricesale {
  font-size: 21px;
  margin: 3px 0 0;
  color: var(--salesred);
}

.itemprice {
  font-size: 21px;
  margin: 3px 0 0;
  color: var(--black);
}

.itemmarketplace {
  display: flex;
  align-items: center;
}

.marketicon {
  color: var(--blue);
  width: 20px;
  aspect-ratio: 1/1;
}

.itemmarketplace p {
  font-size: 12px;
  font-weight: 300;
  color: var(--darkgray);
  margin: 0 0 0 5px;
}

.itemehf {
  font-size: 12px;
  font-weight: 300;
  color: var(--darkgray);
  margin: 0;
}

.custom-featured-pagination .swiper-pagination-bullet-active {
  background-color: var(--blue) !important;
}

.carouselcard
  .carouselcont
  .custom-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--blue) !important;
}

.carouselcarddark .carouselcont .custom-pagination .swiper-pagination-bullet {
  background-color: var(--gray) !important;
}

.carouselcarddark
  .carouselcont
  .custom-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}

.carouselcarddark .carouselcont .custom-pagination .swiper-pagination-bullet {
  background-color: var(--gray) !important;
}

.swiper-pagination {
  bottom: -10px !important;
}

.custom-featured-pagination {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.custom-pagination {
  margin-top: 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.pagination-wrapper {
  width: 100%;
}

.carouselarrows {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.custom-prev-nav,
.custom-next-nav {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.custom-prev-nav:hover,
.custom-next-nav:hover {
  color: var(--blue);
}

.custom-prev-nav {
  left: -50px;
}

.custom-next-nav {
  right: -50px;
}

.arrow-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 100px;
  z-index: 1;
  opacity: 0.8;
}

.swiper-button-disabled .arrow-circle {
  display: none !important;
}

.swiper-button-disabled {
  cursor: auto;
  color: var(--darkgray) !important;
}

.swiper-button-disabled:hover {
  color: var(--darkgray);
}

@media screen and (max-width: 1024px) {
  .carouselcont {
    max-width: 500px;
    width: 50%;
  }

  .textside,
  .textsidedark {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .carouselcard,
  .carouselcarddark {
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 24px 16px 32px;
  }
  .carouselcont {
    max-width: none;
    width: 100%;
  }

  .textside,
  .textsidedark {
    max-width: none;
    width: 100%;
  }

  .custom-prev-nav,
  .custom-next-nav {
    display: none;
  }

  .carouselcont {
    padding-top: 32px;
  }
}
