.carouselcard {
  height: 416px;
  background-color: var(--gray);
  margin-bottom: 64px;
  border-radius: 8px;
  padding: 24px 60px 12px 24px;
  display: flex;
  flex: none;
  position: relative;
  justify-content: space-between;
}

.carouselcarddark {
  height: 416px;
  background-color: var(--blue);
  margin-bottom: 64px;
  border-radius: 8px;
  padding: 24px 60px 12px 24px;
  display: flex;
  flex: none;
  position: relative;
  justify-content: space-between;
}

.textside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding-right: 50px;
}

.textsidedark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  color: var(--white);
  padding-right: 50px;
}

.textside h2 {
  margin: 10px 0 0 0;
}

.textside p {
  margin: 10px 0;
  font-weight: 300;
}

.textsidedark h2 {
  margin: 10px 0 0 0;
}

.textsidedark p {
  margin: 10px 0;
  font-weight: 300;
}

.carouselcont {
  display: block;
  max-width: 600px;
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .carouselcont {
    max-width: 500px;
    width: 60%;
  }

  .textside,
  .textsidedark {
    width: 40%;
  }
}

.carouselitem {
  width: 180px;
  height: 400px;
  background-color: var(--white);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.carouselitem img {
  width: 80%;
  aspect-ratio: 1/1;
  padding-bottom: 64px;
}

.carouseltext {
  width: 100%;
}

.itemname {
  font-size: 12px;
  font-weight: 300;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  margin: 5px 0;
}

.carouselrating {
  display: grid;
  grid-template-columns: repeat(5, 20px);
}

.banner {
  max-width: 100%;
}

.textside h2 {
  font-size: 32px;
}

.star {
  color: var(--ratinggray);
}

.starfill {
  color: var(--ratingyellow);
}

.itemreview {
  color: var(--darkgray);
  font-weight: 300;
  font-size: 12px;
  margin: 5px 0;
}

.itemsale {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--salesred);
}

.itempricesale {
  font-size: 21px;
  margin: 3px 0 0;
  color: var(--salesred);
}

.itemprice {
  font-size: 21px;
  margin: 3px 0 0;
  color: var(--black);
}

.itemmarketplace {
  display: flex;
  align-items: center;
}

.marketicon {
  color: var(--blue);
  width: 20px;
  aspect-ratio: 1/1;
}

.itemmarketplace p {
  font-size: 12px;
  font-weight: 300;
  color: var(--darkgray);
  margin: 0 0 0 5px;
}

.itemehf {
  font-size: 12px;
  font-weight: 300;
  color: var(--darkgray);
  margin: 0;
}

.slick-next:before,
.slick-prev:before {
  /* color: black !important; */
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
}

.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
}

.slick-next {
  right: -50px !important;
}

.slick-prev {
  left: -50px !important;
}

.slick-dots li {
  margin: 0 !important;
}

.carouselcard .carouselcont .slick-slider .slick-prev::before,
.carouselcard .carouselcont .slick-slider .slick-next::before {
  color: var(--black) !important;
}

.carouselcarddark .carouselcont .slick-slider .slick-prev::before,
.carouselcarddark .carouselcont .slick-slider .slick-next::before {
  color: var(--white) !important;
}

.carouselcarddark .carouselcont .slick-slider .slick-dots li button::before {
  color: var(--white) !important;
}
