.carouselcard {
  height: 416px;
  background-color: var(--gray);
  margin-bottom: 64px;
  border-radius: 8px;
  padding: 24px 40px 12px;
  display: flex;
  flex: none;
  position: relative;
}

.textside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 70px;
  width: 40%;
}

.textside h2 {
  margin: 10px 0 0 0;
}

.textside p {
  margin: 10px 0;
  font-weight: 300;
}

.carouselcont {
  display: block;
  max-width: 450px;
}

.carouselitem {
  width: 180px;
  height: 400px;
  background-color: var(--white);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.carouselitem img {
  width: 80%;
  aspect-ratio: 1/1;
  padding-bottom: 32px;
}

.itemname {
  font-size: 11px;
  font-weight: 300;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box !important;
}

.slick-next:before,
.slick-prev:before {
  color: black !important;
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
}

.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
}

.slick-next {
  right: -50px !important;
}

.slick-prev {
  left: -50px !important;
}
