.linkcont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 48px 30px;
  box-sizing: border-box;
  max-width: 1280px;
}

.quicklink {
  display: flex;
  color: var(--blue);
  cursor: pointer;
  padding-right: 32px;
}

.quicklink:hover {
  text-decoration: underline;
}

.quicklink .icon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.quicklink h2 {
  width: auto;
  margin: auto;
  font-size: 16px;
  line-height: 22px;
  max-width: 140px;
}

.quicklink .description {
  display: flex;
  align-items: center;
}

.footercont {
  min-height: 50px;
  padding: 24px 16px;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
}

.linkswrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 0;
}

.footerwrapper {
  width: 100%;
  background-color: var(--gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerlinkcont {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  padding: 8px 0 0 0;
}

.footerlinkcont h3 {
  font-size: 13px;
  margin: 0 0 16px;
  cursor: default;
}

.footerlinkcont ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerlinkcont li {
  margin: 0 0 16px;
  font-weight: 300;
  font-size: 13px;
}

.footerlinkcont li:hover {
  color: var(--blue);
  cursor: pointer;
}

.socialscont {
  width: 30%;
  border-left: 1px solid #e0e6ef;
  border-top: none;
  padding: 8px 24px 24px;
  box-sizing: border-box;
}

.socialscont h3 {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.socialscont p {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 8px;
}

.socialscont .form {
  display: flex;
  padding-bottom: 16px;
}

.socialscont .form input {
  width: 70%;
  background-color: white;
  color: black;
  border: 1px solid var(--searchgray);
  font-weight: 300;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.socialscont .form button {
  width: 30%;
  border-radius: 0;
  border: none;
  background-color: var(--blue);
  cursor: pointer;
}

.socialscont .form button:hover {
  background-color: var(--darkblue);
}

.socialscont ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.socialscont li {
  height: 18px;
  cursor: pointer;
}

.socialscont li:hover {
  color: var(--blue);
}

.footerlinkcont .row {
  display: flex;
}

.footerlinkcont .row:hover {
  color: var(--blue);
  cursor: pointer;
}

.footerlinkcont .icon {
  margin-right: 5px;
}

.bottomcont {
  max-width: 1280px;
  border-top: 1px solid #e0e6ef;
  box-sizing: border-box;
  padding: 16px 24px;
  width: 100%;
}

.bottomcont p {
  color: var(--darkgray);
  font-size: 10px;
  font-weight: 300;
  padding-top: 8px;
  margin: 0 0 16px;
}

.bottomcont ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  font-size: 10px;
  font-weight: 300;
  flex-wrap: wrap;
}

.bottomcont li {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  line-height: 24px;
}

.bottomcont li::before {
  color: #1d252c;
  content: "|";
  padding-right: 8px;
}

.bottomcont li:first-child::before {
  display: none;
}

.bottomcont li:hover {
  color: var(--blue);
}

.bottomcont li:first-child {
  padding-left: 0;
}

.bottomcont li:last-child {
  border: none;
}

.footeraccordion {
  width: 100%;
  display: none;
}

.accordionpiece {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--black);
  text-align: left;
  border-bottom: 1px solid var(--hovergray);
}

.accordionpiece p {
  margin: 0;
}

.accordionarrow {
  width: 15px;
  aspect-ratio: 1/1;
}

.accordionheader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
}

.accordionsubcont {
  padding: 0 16px;
}

.subarray {
  padding: 0 16px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 16px;
  width: auto;
}

.subarray a {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.subarray a:hover {
  color: var(--blue);
}

.subarray:last-child {
  margin-bottom: 0;
}

.subarraycont {
  padding-bottom: 16px;
  overflow: hidden;
}

.arrayicon {
  margin-right: 5px;
  width: 20px;
}

@media screen and (max-width: 1024px) {
  .quicklink h2 {
    max-width: 140px;
  }

  .footercont {
    flex-direction: column;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .socialscont {
    width: 100%;
    border-top: 1px solid var(--searchgray);
    border-left: none;
    padding: 24px 0;
  }

  .socialscont .form {
    max-width: 360px;
  }

  .socialscont ul {
    max-width: 360px;
  }

  .linkswrapper {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .linkcont {
    flex-direction: column;
  }

  .linkcont .description {
    display: flex;
  }

  .quicklinkcont {
    margin-bottom: 32px;
  }

  .quicklink {
    padding-right: 0;
  }

  .quicklinkcont:last-child {
    margin-bottom: 0;
  }

  .quicklink h2 {
    max-width: none;
  }

  .footercont {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .socialscont {
    width: 100%;
    border: none;
    padding: 24px 16px 0;
  }

  .socialscont .form {
    max-width: 360px;
  }

  .socialscont ul {
    max-width: 360px;
  }

  .linkswrapper {
    width: 100%;
    display: none;
  }

  .footeraccordion {
    display: block;
  }
}
