.linkcont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 48px 30px;
  box-sizing: border-box;
}

.quicklink {
  display: flex;
  color: var(--blue);
  cursor: pointer;
}

.quicklink:hover {
  text-decoration: underline;
}

.quicklink .icon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.quicklink h2 {
  margin: 0;
  font-size: 16px;
  display: flex;
  line-height: 22px;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.footercont {
  min-height: 50px;
  padding: 24px 16px;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
}

.linkswrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 0;
}

.footerwrapper {
  width: 100%;
  background-color: var(--gray);
  box-sizing: border-box;
}

.footerlinkcont {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  padding: 8px 0 0 0;
}

.footerlinkcont h3 {
  font-size: 13px;
  margin: 0 0 16px;
  cursor: default;
}

.footerlinkcont ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerlinkcont li {
  margin: 0 0 16px;
  font-weight: 300;
  font-size: 13px;
}

.footerlinkcont li:hover {
  color: var(--blue);
  cursor: pointer;
}

.socialscont {
  width: 30%;
  border-left: 1px solid #e0e6ef;
  border-top: none;
  padding: 8px 24px 24px;
  box-sizing: border-box;
}

.socialscont h3 {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.socialscont p {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 8px;
}

.socialscont .form {
  display: flex;
  padding-bottom: 16px;
}

.socialscont .form input {
  width: 70%;
  background-color: white;
  color: black;
  border: 1px solid var(--searchgray);
  font-weight: 300;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.socialscont .form button {
  width: 30%;
  border-radius: 0;
  border: none;
  background-color: var(--blue);
  cursor: pointer;
}

.socialscont .form button:hover {
  background-color: var(--darkblue);
}

.socialscont ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.socialscont li {
  height: 18px;
  cursor: pointer;
}

.socialscont li:hover {
  color: var(--blue);
}

.footerlinkcont .row {
  display: flex;
}

.footerlinkcont .row:hover {
  color: var(--blue);
  cursor: pointer;
}

.footerlinkcont .icon {
  margin-right: 5px;
}

.bottomcont {
  border-top: 1px solid #e0e6ef;
  box-sizing: border-box;
  padding: 16px 24px;
}

.bottomcont p {
  color: var(--darkgray);
  font-size: 10px;
  font-weight: 300;
  padding-top: 8px;
  margin: 0 0 16px;
}

.bottomcont ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  font-size: 10px;
  font-weight: 300;
}

.bottomcont li {
  padding: 0 10px 0;
  border-right: 1px solid var(--darkgray);
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bottomcont li:hover {
  color: var(--blue);
}

.bottomcont li:first-child {
  padding-left: 0;
}

.bottomcont li:last-child {
  border: none;
}
