.iconlinkgrid {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 64px;
}

.iconlinkcont {
  display: flex;
  align-items: center;
  color: var(--blue);
}

.iconlinkcont .icon {
  height: 40px;
  width: 40px;
}

.iconlinkcont .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.iconlinkcont h2,
.iconlinkcont p {
  margin: 0;
}

.iconlinkcont h2 {
  font-size: 14px;
}

.iconlinkcont p {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .iconlinkgrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
  }

  .iconlinkcont {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .iconlinkgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
  }
}
