.header {
  background-color: var(--blue);
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  position: relative;
}

.header ul {
  list-style-type: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 16px 0 16px 24px;
  cursor: pointer;
  z-index: 20;
}

.header-content ul a {
  padding: 0 0 0 16px;
}

.header ul a:hover {
  text-decoration: underline;
}

.header-content {
  max-width: 1280px;
  width: 100%;
  padding: 0 24px 16px;
  box-sizing: border-box;
}

.header-mainrow {
  display: grid;
  grid-template-columns: 82px 1fr 410px;
  column-gap: 32px;
  align-items: center;
  min-height: 56px;
}

.searchbox {
  font-weight: 300;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  max-width: 460px;
  height: 48px;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  display: grid;
  grid-template-columns: 1fr 48px 48px;
  position: relative;
}

.searchbar {
  font-weight: 300;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  padding: 10px 0 10px 10px;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
}

.searchbar:focus {
  outline: none;
}

.searchbutton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  cursor: pointer;
}

.searchclose {
  color: var(--searchgray);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.searchline {
  background-color: var(--searchgray);
  width: 1px;
  border-radius: 100px;
  height: 60%;
  position: absolute;
  right: 0;
}

.searchtitle {
  font-weight: bold;
}

.primarylink {
  padding: 0 0 0 24px;
  height: auto;
  cursor: pointer;
}

.primarylink:hover {
  color: var(--yellow);
}

.primarylink-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primarylink-title {
  padding-left: 8px;
  align-items: center;
}

.primarylink-icon {
  width: 24px;
  height: 24px;
}

.bottombar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding-left: 24px;
}

.bottombarwrapper {
  width: 100%;
  height: 56px;
  background-color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.searchlink {
  display: flex;
  margin: 0 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.searchlink:first-child {
  margin-left: 0;
}

.searchgroup {
  display: flex;
}

.searcharrow {
  margin: 2px 0 0 3px;
  width: 15px;
  height: 15px;
}

.searchmenu {
  height: 100%;
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.searchburger {
  height: 40px;
  display: flex;
  align-items: center;
}

.searchmenu h3 {
  margin: 0 0 0 10px;
}

.short {
  display: none;
  max-width: none;
}

.searchcancel {
  display: none;
}

.mobilesearchgroup {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
}

.desktopsearchgroup {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

.dropdownmenu,
.submenu {
  width: 300px;
  background-color: var(--white);
  position: absolute;
  top: 38px;
  z-index: 3;
  display: flex;
  box-sizing: border-box;
  overflow: visible;
}

.searchcontainer {
  position: absolute;
  top: 40px;
}

.submenu {
  left: 300px;
  border-left: 1px solid var(--gray);
}

.dropdowncont {
  position: relative;
}

.menuarrow {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 10px;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--white);
  z-index: 10;
}

.menulinks {
  color: var(--black);
  max-height: calc(100vh - 176px);
}

.menulinks button {
  padding: 10px 16px 10px 24px;
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--black);
  border: none;
  text-align: left;
}

.menulinks button:hover {
  background-color: var(--gray);
  color: var(--blue);
}

.menulinks h4 {
  margin: 0;
  padding: 10px 16px 10px 24px;
}

.menulinks button:first-child {
  margin-top: 8px;
}

.menulinks h4:first-child {
  margin-top: 8px;
}

.menulinks button:last-child {
  margin-bottom: 8px;
}

.menulinks .divider {
  border-top: 1px solid var(--ratinggray);
  margin-top: 8px;
  height: 8px;
  background-color: var(--gray);
}

.submenubutton {
  display: flex;
  justify-content: space-between;
}

.submenuarrow {
  width: 15px;
  aspect-ratio: 1/1;
}

.submenubutton p {
  margin: 0;
}

.long {
  margin-left: 12px;
}

.tabletdropdown {
  background-color: white;
  height: calc(100vh - 140px);
  width: 300px;
  position: absolute;
  top: 140px;
  left: 0;
}

.tabletarrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--white);
  position: absolute;
  top: -10px;
  left: 20px;
}

@media screen and (max-width: 1024px) {
  .header ul {
    padding: 8px 0 4px;
  }

  .header-content {
    padding: 0 16px;
  }

  .searchgroup {
    display: none;
  }

  .searchmenu {
    padding-right: 16px;
  }

  .bottombar {
    padding: 0 16px;
  }

  .searchmenu {
    display: flex;
  }

  .long {
    display: none;
  }

  .short {
    display: grid;
    width: 100%;
  }

  .header-mainrow {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .searchburger {
    height: 25px;
  }

  .header ul {
    display: none;
  }

  .bottombar {
    padding: 0 8px;
    display: flex;
  }

  .searchtitle {
    display: none;
  }

  .searchbar {
    height: 40px;
    width: auto;
  }

  .searchmenu {
    padding-right: 0;
    transition: 0.3s;
  }

  .searchbutton {
    height: 40px;
  }

  .searchbox {
    height: 40px;
    margin: 0 0 0 8px;
  }

  .searchcancel {
    display: block;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
  }

  .mobilesearchgroup {
    display: flex;
  }

  .desktopsearchgroup {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .header-content {
    padding: 0 16px;
  }
}
