.header {
  background-color: var(--blue);
  width: 100%;
  color: var(--white);
}

.header ul {
  list-style-type: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 16px 0;
  cursor: pointer;
}

.header li {
  padding: 0 8px;
}

.header li:hover {
  text-decoration: underline;
}

.header-content {
  padding: 0 24px 16px;
}

.header-mainrow {
  display: grid;
  grid-template-columns: 82px 1fr 410px;
  column-gap: 32px;
  align-items: center;
  min-height: 56px;
}

.searchbox {
  font-weight: 300;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  max-width: 460px;
  height: 48px;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  display: grid;
  grid-template-columns: 1fr 48px 48px;
  position: relative;
}

.searchbar {
  font-weight: 300;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  padding: 10px 0 10px 10px;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
}

.searchbar:focus {
  outline: none;
}

.searchbutton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  cursor: pointer;
}

.searchclose {
  color: var(--searchgray);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.searchline {
  background-color: var(--searchgray);
  width: 1px;
  border-radius: 100px;
  height: 60%;
  position: absolute;
  right: 0;
}

.primarylink {
  display: flex;
  align-items: center;
  padding: 0 24px 0 8px;
  height: auto;
  cursor: pointer;
}

.primarylink:hover {
  color: var(--yellow);
}

.primarylink-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primarylink-title {
  padding-left: 8px;
  align-items: center;
}

.primarylink-icon {
  width: 24px;
  height: 24px;
}

.bottombar {
  width: 100%;
  height: 56px;
  background-color: var(--darkblue);
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
}

.searchlink {
  display: flex;
  margin: 0 10px;
  cursor: pointer;
}

.searchlink:first-child {
  margin-left: 0;
}

.searchgroup {
  display: flex;
}

.searcharrow {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

.searchmenu {
  height: 100%;
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.searchburger {
  height: 50%;
  display: flex;
  align-items: center;
}

.searchmenu h3 {
  margin: 0 0 0 10px;
}

.short {
  display: none;
  max-width: none;
}

.searchcancel {
  display: none;
}

.mobilesearchgroup {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
}

.desktopsearchgroup {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header ul {
    padding: 8px 0 4px;
  }

  .header-content {
    padding: 0 16px 8px;
  }

  .searchgroup {
    display: none;
  }

  .searchmenu {
    padding-right: 16px;
  }

  .bottombar {
    padding: 0 16px;
  }

  .searchmenu {
    display: flex;
  }

  .long {
    display: none;
  }

  .short {
    display: grid;
    width: 100%;
  }

  .header-mainrow {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header ul {
    display: none;
  }

  .bottombar {
    padding: 0 8px;
    display: flex;
  }

  .searchtitle {
    display: none;
  }

  .searchbar {
    height: 40px;
    width: auto;
  }

  .searchmenu {
    padding-right: 0;
    transition: 0.3s;
  }

  .searchbutton {
    height: 40px;
  }

  .searchbox {
    height: 40px;
    margin: 0 8px;
  }

  .searchcancel {
    display: block;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
  }

  .mobilesearchgroup {
    display: flex;
  }

  .desktopsearchgroup {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .header-content {
    padding: 0 0 0 16px;
  }
}
